# Node / Frontend
node_modules/
dist/
build/
.env

# Python / Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
staticfiles/
media/

# Environment / Secrets
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
.DS_Store
